h1{
	color: white;
	background: #000000;
	text-align: center;	
}
header{
    color:white; 
	background: #F2CB05;
	text-align: justify;
	font-family: arial; 
}
nav{
	background: ##F2CB05;
	font-variant: small-caps;
	font-size-adjust: 125%;
}
h2{
	color:#FF530C;
	background: black;
	font-family: monospace;
}
details{
	font-style: bold;
	font-family: arial;
	color: #F2CB05;
}
summary{
	font-style: normal;
}
footer{
	 color:white; 
	background: #829FD9;
	text-align: justify;
	font-family: arial; 
}
section{
	color: white;
	background: #230A59;
	text-align:left;
}